:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--text-color: #fff;
	--text-muted: #8d8d8d;
	--text-light: #ffffff;
	--accent: #100902;
	--page-bg: #77644d;

	--font-main: 'Jura', sans-serif;

}